.lista li{
    border-bottom: 2px dashed orange;
    padding: 3px;
    margin: 5px;
    font-family: monospace;

}
.ver li{
    border-bottom: 2px dotted green;
    padding: 3px;
    margin: 5px;
    font-family:monospace;
}
table {
    border-collapse: collapse;
    border: 3px solid teal;
    font-family: monospace;
  }
  
  th, td {
    border: 2px solid teal;
    padding: 8px 15px;
  }
  h2{
    font-family: monospace;
  }
  
